In [ ]:
import pandas as pd

# Dar mis propios nombres a las columnas de un dataframe
columnas = ["1", "2", "3", "4", "5", "6"]
data = pd.read_csv("Catalog_v2.csv", header=0, names=columnas)

In [ ]:
# Crear un DataFrame de ejemplo
data = {
    "Departamento": ["Ventas", "Ventas", "IT", "IT", "RRHH", "RRHH", "Ventas"],
    "Empleado": ["Ana", "Luis", "Pedro", "Marta", "Sof√≠a", "Carlos", "David"],
    "Salario": [30000, 50000, 60000, 55000, 40000, 42000, 48000],
    "Edad": [25, 30, 40, 35, 28, 45, 32],
    "Sexo": ["Mujer", "Hombre", "Hombre", "Mujer", "Mujer", "Hombre", "Hombre"],
}
df = pd.DataFrame(data)
# Agrupa los datos por Departamentos y por sexo. Especifica etiquetas 'hombre' y 'muher' para cada grupo
result = df.groupby(["Departamento", "Sexo"])["Sexo"].count()
print(result)

Departamento  Sexo
IT            Hombre    1
              Mujer     1
RRHH          Hombre    1
              Mujer     1
Ventas        Hombre    2
              Mujer     1
Name: Sexo, dtype: int64